:root {
  --color-text: #122945;
  --color-text-primary: #2b2d33;
  --color-text-secondary: #5e7793;
  --color-text-header: #899cb1;
  --color-icon: #adbfdf;
  --color-ui-secondary: #d8e4fb;
  --color-accent: #002cfb;
  --color-green: #28a879;
  --color-light-green: #dbf8ef;
  --color-red: #ea1a4f;
  --color-light-red: #fee9ef;
  --color-background: #f1f4f9;
  --color-surface: #ffffff;
  --shadow-card: 0 4px 5px #e9edf3;
  --shadow-dropdown: 0px 4px 20px 0px #00000014;
  --font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}
